node_modules
dist
.trae
.local
build_output.log
*.log
.env
.git
replit.nix
.replit
attached_assets
migrations
script
electron-builder.yml
dist/electron
dist/index.cjs
dist/public
client/dist
client/node_modules
server/node_modules
